@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <br />
    <a s-text="Link 1" s-actionName="Profile" s-controllerName="Home" s-rK1="profileId" s-rV1="1" s-rK2="applicationId" s-rV2="MAX-1"></a>
    <br />
    <a s-text="Link 2" s-actionName="Profile" s-controllerName="Home" s-rK1="profileId" s-rV1="2" s-rK2="applicationId" s-rV2="MAX-2"></a>
    <br />
    <a s-text="Link 3" s-actionName="Profile" s-controllerName="Home" s-rK1="profileId" s-rV1="3" s-rK2="applicationId" s-rV2="MAX-3"></a>
    <br />
    <a s-text="Link 4" s-actionName="Profile" s-controllerName="Home" s-rK1="profileId" s-rV1="4" s-rK2="applicationId" s-rV2="MAX-4"></a>
    <br />
    <a s-text="Link 5" s-actionName="Profile" s-controllerName="Home" s-rK1="profileId" s-rV1="5" s-rK2="applicationId" s-rV2="MAX-5"></a>
    <br />
</div>